body {
    background-color: #F4D04E;
}

.card {
    border: 12px solid white;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}